#==============================================================================
# JENKINS WORKSPACE ARTIFACTS
#==============================================================================

.jenkins-library/
run-command-results/
tfplan
tfplan.sha256

#==============================================================================
# TERRAFORM LOCAL STATE
#==============================================================================

.terraform/
*.tfstate
*.tfstate.*

#==============================================================================
# LOCAL OPERATING SYSTEM FILES
#==============================================================================

.DS_Store